registry=https://registry.npmjs.org/
always-auth=false
email="alekssberg@gmail.com" 
HTTP_PROXY=
HTTPS_PROXY=
https-proxy=
proxy=
node_gyp= "/usr/local/lib/node_modules/node-gyp/bin/node-gyp.js"
strict-ssl=false